/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.card-container {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  width: 50%;
}

.heading {
  color: #0f172a;
}

.emojis-container {
  display: flex;
  justify-content: space-around;
}

.emoji-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emoji-icon {
  width: 50%;
}

.love-icon {
  width: 10%;
}
